* {
  box-sizing: border-box;
}

body {
  font-family: helvetica, arial, sans-serif;
  margin: 25px;
}

h1 {
  font-weight: bold;
  color: black;
  text-align: center;
}

main {
  margin: 0 auto;
  width: 70%;
}

a, a:visited {
  color: #097a98;
  text-decoration: none;
}

h3.title {
  color: #98097a;
  margin: 8px 0;
}

p {
  margin: 8px 20px;
}

.code {
  font-family: monospace;
  font-size: 1.2em;
  background-color: #f8f0f2;
}
